<!DOCTYPE html>
<html>
<head>
    <title>Simple Homepage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Welcome to the Homepage</h1>

    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>

    <div class="center-text">
        <h3>This is KammaVariPalem Farming Website</h3>
    </div>

</body>
</html>
